@import "tailwindcss";

:root {
  --foreground-rgb: 30, 41, 59;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
  --primary-color: 37, 99, 235;
  --accent-color: 79, 70, 229;
  --neutral-color: 100, 116, 139;
  --success-color: 16, 185, 129;
  --danger-color: 239, 68, 68;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--neutral-color), 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--neutral-color), 0.7);
}
